h1 {
color: black;
}

.mySlides {
width:1285px;height:750px;
}

body {
background-image:url('36126b086d4caf2a67a4cb4cfa84f784.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

